{
  "openapi": "3.0.0",
  "info": {
    "title": "Financial Manager - Documentation",
    "version": "1.0.0",
    "description": "Documentation of routes in the application"
  },
  "servers": [
    {
      "url": "https://potential-space-parakeet-w6qpg5rw47737qg-3000.app.github.dev/api/v1",
      "description": "Servidor Local"
    }
  ],
  "paths": {
    "/year": {
      "get": {
        "tags": ["Year"],
        "summary": "List years",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOfYears"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/year/{yearNumber}": {
      "post": {
        "tags": ["Year"],
        "summary": "Create year",
        "parameters": [
          {
            "name": "yearNumber",
            "in": "path",
            "description": "Number of year",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Year successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpSuccess"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Year": {
        "type": "object",
        "properties": {
          "year": {
            "type": "integer",
            "format": "int64",
            "example": 2025
          }
        }
      },
      "ListOfYears": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Year"
            }
          }
        }
      },
      "Month": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "January"
          },
          "year": {
            "$ref": "#/components/schemas/Year"
          }
        }
      },
      "InternalServerError": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer",
            "format": "int64",
            "example": 500
          },
          "message": {
            "type": "string",
            "example": "Internal server error."
          },
          "name": {
            "type": "string",
            "example": "internal server error"
          }
        }
      },
      "HttpSuccess": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer",
            "format": "int64",
            "example": 200
          },
          "name": {
            "type": "string",
            "example": "resource created"
          },
          "message": {
            "type": "string",
            "example": "Success message."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Year",
      "description": "Manage year resource"
    }
  ]
}
